@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-header {
  color: #000000;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 1060px;
  padding: 0 70px;
}

.header-logo {
  position: relative;

  align-self: flex-start;

  width: 140px;
  margin-right: 30px;
  margin-bottom: -6px;
}

.header-logo-img {
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation {
  width: 465px;
  margin-right: auto;
}

.user-navigation {
  max-width: 110px;
}

.navigation-link {
  display: block;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;

  background-color: #ffffff;
}

.main-navigation-link {
  padding: 20px 16px;
}

.user-navigation-link {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.favorite-counter {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
}

.want-here {
  margin-left: 20px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;

  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/hero-pattern.svg"), url("../images/index-background.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-wrapper {
  margin-bottom: 21px;
  padding: 69px 274px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.advanteges-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantage-reverse {
  flex-direction: row-reverse;
}

.advantage-container {
  box-sizing: border-box;
  min-height: 385px;
  width: 400px;
  padding: 102px 85px;
}

.advantage-image {
  display: block;
}

.advantage-title {
  width: 172px;
  margin: 0 auto;
  margin-bottom: 62px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantege-description {
  margin: 0;
}

/*Темная тема текста для карточек преимуществ*/
.theme-black {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.theme-black .advantage-title {
  color: #000000;
}

.theme-black-second {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.2);
}

.theme-black-second .advantage-title {
  color: #000000;
}

.services {
  text-align: center;
}

.services-wrapper {
  padding: 64px 347px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.services-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  box-sizing: border-box;
  width: 400px;
  padding: 80px 85px;

  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 102px;

  font-size: 24px;
  line-height: 28px;
  color:#000000;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;
}

/*Тема карточек сервисов с прозрачным фоном*/
.theme-transparent {
  background-color: transparent;
}

.hotel-search {
  padding: 96px 304px;

  text-align: center;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-description {
  margin: 0;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 258px 104px;

  color: #ffffff;
  text-align: center;

  background-color: #3f5e72;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;
}

.subscribe-description {
  width: 475px;
  margin: 0 auto;

  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  margin-top: 54px;
}

.email-label {
  color: #000000;

  opacity: 0.6;
}

.email-input {
  padding: 12px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  background-color: #f2f2f2;
}

.email-input::placeholder {
  color: #000000;

  opacity: 0.6;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;

  background-color: #82b3d3;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;

  color: #000000;

  background-color: #ffffff;
}

.main-footer a {
  color: #000000;
  text-decoration: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-link {
  display: block;
  box-sizing: border-box;
  min-width: 47px;
  min-height: 40px;
  padding: 0 10px;
}

.footer-tel {
  width: 720px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-logo {
  width: 115px;
}

.academy-logo {
  display: block;
}

.block-wrapper {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-inner-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 16px;
  color: #ffffff;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 28px;
}

.breadcrumbs-item-link {
  color: #ffffff;
  text-decoration: none;
}

.filters-form {
  display: flex;
}

.filter-group {
  width: 151px;
}

.filter-group-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-price {
  width: 288px;
}

.filter-buttons {
  width: 191px;
}

.filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control-label {
  line-height: 23px;
}

.text-label {
  line-height: 24px;
  color: #000000;

  opacity: 0.3;
}

.text-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.apply {
  background-color: #82b3d3;
}

.reset {
  background-color: transparent;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;

  align-items: center;
}

.catalog-title {
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-view-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 70px;
  padding: 0;

  list-style: none;
}

.button-view-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.button-view-item:nth-child(3n) {
  margin-right: 0;
}

.button-view {
  box-sizing: border-box;
  display: block;
  min-width: 48px;
  min-height: 48px;
  padding: 14px 12px;

  color: #000000;
  text-decoration: none;
}

.button-view.active {
  text-decoration: underline;
}

.hotel-cards {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.price {
  text-align: right;
}

.hotel-card-favorite {
  background-color: #82b3d3;
}

.hotel-card-favorite.active {
  background-color: #7db54f;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 18px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: lowercase;

  background-color: transparent;
}

.subscribe-inner {
  color: #333333;

  background: transparent;
}

.subscribe-inner .subscribe-title {
  color: #000000;
}
