@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 18px;
  border: none;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-primary {
  background-color: #82b3d3;
}

.button-primary:hover {
  background-color: #68a2ca;
}

.button-primary:focus {
  background-color: #68a2ca;
}

.button-secondary {
  background-color: transparent;
}

.button-secondary:hover {
  background-color: transparent;

  opacity: 0.6;
}

.button-secondary:focus {
  background-color: transparent;
}

.button.disabled,
.button:disabled {
  color: #ffffff;

  background-color: #e5e5e5;
  cursor: default;

  pointer-events: none;
}

.button.disabled:hover {
  background-color: #e5e5e5;
}

.button.disabled:focus {
  background-color: #e5e5e5;
}

.button.disabled:active {
  background-color: #e5e5e5;
}

.button-secondary.disabled,
.button-secondary:disabled {
  opacity: 0.1;

  background-color: transparent;
}

.button-secondary.disabled:hover {
  background-color: transparent;
}

.button-secondary.disabled:focus {
  background-color: transparent;
}

.button-secondary.disabled:active {
  background-color: transparent;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-header {
  padding: 0 70px;

  color: #000000;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 1060px;
}

.header-logo {
  position: relative;

  align-self: flex-start;
  width: 140px;
  margin-right: 30px;
  margin-bottom: -6px;
}

.header-logo:not(.index-logo):hover {
  opacity: 0.6;
}

.header-logo:not(.index-logo):active {
  opacity: 0.3;
}

.header-logo-img {
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation {
  width: 465px;
  margin-right: auto;
}

.main-navigation-current {
  position: relative;
}

.main-navigation-current::after {
  content: "";

  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;

  height: 2px;

  background-color: #756257;
}

.user-navigation {
  max-width: 240px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;

  background-color: #ffffff;
}

.navigation-link:not(.main-navigation-current):hover {
  opacity: 0.6;
}

.navigation-link:not(.main-navigation-current):active {
  opacity: 0.3;
}

.user-navigation-link {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 64px;

  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.user-navigation-search {
  background-image: url("../images/search-icon.svg");
}

.user-navigation-favorite {
  position: relative;
  background-image: url("../images/favorite-icon.svg");
}

.favorite-counter {
  position: absolute;
  top: 11px;
  right: 4px;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: lowercase;

  background-color: #7db54f;
  border-radius: 50%;
}

.want-here {
  width: 160px;
  margin-left: 20px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding: 51px 70px 82px;

  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/hero-pattern.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain, cover;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-wrapper {
  margin-bottom: 21px;
  padding: 69px 274px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantage {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantage-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.advantage-reverse {
  flex-direction: row-reverse;
}

.advantage-container {
  box-sizing: border-box;
  min-height: 385px;
  width: 400px;
  padding: 102px 85px;
}

.advantage-image {
  display: block;
  height: 100%;
  object-fit: cover;
}

.advantage-title {
  position: relative;

  width: 172px;
  margin: 0 auto;
  margin-bottom: 62px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-title::after {
  content:"";

  position: absolute;
  bottom: -30px;
  left: 50%;

  width: 60px;
  height: 2px;
  margin-left: -30px;

  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-description {
  margin: 0;
}

/*Темная тема текста для карточек преимуществ*/
.theme-advantage-primary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.theme-advantage-primary .advantage-title {
  color: #000000;
}

.theme-advantage-secondary {
  color: #333333;

  background-color: rgba(131, 179, 211, 0.2);
}

.theme-advantage-secondary .advantage-title {
  color: #000000;
}

.theme-advantage-primary .advantage-title::after,
.theme-advantage-secondary .advantage-title::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.services {
  text-align: center;
}

.services-wrapper {
  padding: 64px 347px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.services-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  position: relative;

  box-sizing: border-box;
  width: 400px;
  padding: 182px 85px 80px;

  background-color: rgba(131, 179, 211, 0.12);
}

.services-item::before {
  content: "";

  position: absolute;
  top: 80px;
  left: 50%;

  width: 75px;
  height: 72px;
  margin-left: -38px;
}

.services-item-housing::before {
  background-image: url("../images/house-icon.svg");
}

.services-item-food::before {
  background-image: url("../images/burger-icon.svg");
}

.services-item-souvenirs::before {
  height: 76px;

  background-image: url("../images/gift-icon.svg");
}

.services-item-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;
}

/*Тема карточек сервисов с прозрачным фоном*/
.theme-services-primary {
  background-color: transparent;
}

.hotel-search {
  padding: 96px 304px;

  text-align: center;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-description {
  margin: 0;
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
}

.hotel-search-link {
  width: 376px;

  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 258px 104px;

  color: #ffffff;
  text-align: center;

  background-color: #3f5e72;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;

  color: #ffffff;
}

.subscribe-description {
  width: 475px;
  margin: 0 auto;

  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 684px;
  margin-top: 54px;
}

.email-input {
  flex-grow: 1;
}

.subscribe-form .email-input::placeholder {
  font-weight: 400;
  color: #000000;

  opacity: 0.6;
}

.subscribe-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;

  color: #000000;

  background-color: #ffffff;
}

.main-footer a {
  color: #000000;
  text-decoration: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-link {
  position: relative;

  display: block;
  box-sizing: border-box;
  min-width: 47px;
  min-height: 40px;
  padding: 0 10px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  fill:#83b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill-opacity: 0.3;
}

.footer-tel {
  box-sizing: border-box;
  width: 720px;
  padding: 5px 194px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-tel:hover {
  color: #756157;
}

.footer-tel:focus {
  color: #756157;
}

.footer-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  width: 115px;
}

.academy-logo {
  display: block;

  fill: #000000;
}

.footer-logo:hover .academy-logo {
  fill: #756157;
}

.footer-logo:focus .academy-logo {
  fill: #756157;
}

.footer-logo:active .academy-logo {
  fill-opacity: 0.3;
}

.block-wrapper {
  padding: 35px 70px 70px;

  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.main-inner-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 16px;
  color: #ffffff;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 28px;
}

.breadcrumbs-item::after {
  content: "";

  position: absolute;
  top: 5px;
  right: -18px;

  width: 7px;
  height: 10px;

  background-image: url("../images/arrow-right.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-main {
  display: inline-block;
  width: 12px;
  height: 12px;

  background-image: url("../images/small-house-icon.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

.breadcrumbs-item-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item-link:not(.breadcrumbs-item-current):hover {
  opacity: 0.6;
}

.breadcrumbs-item-link:not(.breadcrumbs-item-current):active {
  opacity: 0.3;
}

.filters-form {
  display: flex;
}

.filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  width: 151px;

  border: none;
}

.filter-housing {
  margin-right: auto;
}

.filter-group-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-group-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.filter-group-item:last-child {
  margin-bottom: 0;
}

.filter-price {
  width: 288px;
}

.filter-buttons {
  width: 191px;
  padding-top: 56px;
}

.filter-group-title {
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control-label {
  line-height: 23px;
}

.control-input[type="checkbox"],
.control-input[type="radio"] {
  position: relative;

  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="checkbox"]:hover,
.control-input[type="radio"]:hover {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus,
.control-input[type="radio"]:focus {
  outline: 2px solid #83b3d3;
}

.control-input[type="checkbox"]:active,
.control-input[type="radio"]:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked {
  background-image: url("../images/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center top 5px;
  background-size: 13px 10px;
}

.control-input[type="radio"]:checked:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;

  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.filter-price .filter-group-list {
  display: flex;
  gap: 2px;
  margin-bottom: 36px;
}

.filter-price .filter-group-item {
  position: relative;
  width: 143px;
  margin-bottom: 0;
}

.field {
  padding: 12px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.field:hover,
.field:focus {
  background-color: #e6e6e6;
}

.field:disabled,
.field:disabled:hover {
  background-color: #e5e5e5;
}

.field::placeholder {
  color: #000000;

  opacity: 0.6;
}

.number-label {
  position: absolute;
  right: 20px;
  top: 12px;

  line-height: 24px;
  color: #000000;

  opacity: 0.3;
}

.number-input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 45px;
  appearance: textfield;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-input[name="max-price"] {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;

  height: 4px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 2px solid #83b3d3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.filter-buttons .button {
  width: 191px;
}

.apply {
  margin-bottom: 32px;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;

  align-items: center;
}

.catalog-title {
  margin: 0;
  margin-right: auto;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-view-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  margin-left: 70px;
  padding: 0;

  list-style: none;
}

.button-view {
  box-sizing: border-box;
  display: block;
  min-width: 48px;
  min-height: 48px;
  padding: 14px 12px;

  color: #000000;
  text-decoration: none;

  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.button-table {
  background-image: url("../images/table-button.svg");
}

.button-slideshow {
  background-image: url("../images/slideshow-button.svg");
}
.button-list {
  background-image: url("../images/list-button.svg");
}

.button-view.active {
  border: 2px solid #000000;
}

.button-view:hover {
  border: 2px solid #000000;
}

.button-view:active {
  border: 2px solid #000000;
}

.hotel-cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.hotel-card {
  display: grid;
  gap: 16px 20px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card-link:hover {
  opacity: 0.6;
}

.hotel-card-link:active {
  opacity: 0.3;
}

.hotel-card-image {
  display: block;
  object-fit: contain;
}

.hotel-card-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-type {
  margin: 0;
}

.price {
  margin: 0;

  text-align: right;
}

.favorite-button-active {
  background-color: #7db54f;
}

.favorite-button-active:not(.disabled):hover {
  background-color: #6c9e42;
}

.favorite-button-active:not(.disabled):focus {
  background-color: #6c9e42;
}

.hotel-card-rating {
  padding: 8px 20px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-stars {
  background-image: url("../images/star.svg");
  background-repeat: space no-repeat;
  background-position: left center;
}

.one-star {
  background-repeat: no-repeat;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 66px;
}

.four-stars {
  width: 89px;
}

.five-stars {
  width: 107px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  list-style: none;

  border-top: 1px solid #e6e6e6;
}

.pagination-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  padding: 0 10px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: lowercase;

  background-color: transparent;
}

.pagination-link:hover {
  border: 1px solid #82b3d3;
  background-color: #68a2ca;
}

.pagination-link:focus {
  border: 1px solid #82b3d3;
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover {
  border: none;
  background-color: #f2f2f2;
}

.pagination-current:focus {
  border: none;
  background-color: #f2f2f2;
}

.pagination-current:active {
  color: #000000;
}

.pagination-more:hover {
  background-color: transparent;
}

.pagination-more:focus {
  background-color: transparent;
}

.pagination-more:active {
  color: #000000;
}

.subscribe-inner {
  color: #333333;

  background: transparent;
}

.subscribe-inner .subscribe-title {
  color: #000000;
}
