@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.site-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-header {
  color: #000000;
}

.main-nav {
  display: flex;
  width: 1060px;
  padding: 0 70px;
}

.header-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation {
  margin: 0;
  padding: 0;
}

.main-navigation {
  width: 465px;
  margin-right: auto;
}

.user-navigation {
  max-width: 110px;
  margin-right: 20px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;

  background-color: #ffffff;
}

.favorite-counter {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
}

.main-container {
  flex-grow: 1;
}

.hero {
  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/hero-pattern.svg"), url("../images/index-background.jpg");
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advanteges-description {
  font-size: 22px;
  line-height: 26px;
}

.advantage {
  color: #ffffff;

  background-color: #82b3d3;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*Темная тема текста для карточек преимуществ*/
.theme-black {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.theme-black .advantage-title {
  color: #000000;
}

.theme-black-second {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}

.theme-black-second .advantage-title {
  color: #000000;
}

.services {
  text-align: center;
}

.services-description {
  font-size: 22px;
  line-height: 26px;
}

.services-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000000;
}

/*Тема карточек сервисов с прозрачным фоном*/
.theme-transparent {
  background-color: transparent;
}

.hotel-search {
  text-align: center;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  color: #ffffff;
  text-align: center;

  background-color: #3f5e72;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.email-label {
  color: #000000;

  opacity: 0.6;
}

.email-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  background-color: #f2f2f2;
}

.email-input::placeholder {
  color: #000000;

  opacity: 0.6;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;

  background-color: #82b3d3;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;

  color: #000000;

  background-color: #ffffff;
}

.main-footer a {
  color: #000000;
  text-decoration: none;
}

.social-list {
  width: 142px;
}

.footer-tel {
  width: 720px;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-logo {
  width: 115px;
}

.block-wrapper {
  color: #ffffff;

  background-color: #3f5e72;
  background-image: url("../images/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  color: #ffffff;
}

.breadcrumbs-item-link {
  text-decoration: none;
  color: #ffffff;
}

.block-wrapper {
  padding: 0 70px;
}

.filters-form {
  display: flex;
}

.filter-group-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control-label {
  line-height: 23px;
}

.text-label {
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.text-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.apply {
  background-color: #82b3d3;
}

.reset {
  background-color: transparent;
}

.catalog {
  padding: 0 70px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-view {
  color: #000000;
  text-decoration: none;
}

.button-view.active {
  text-decoration: underline;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.price {
  text-align: right;
}

.hotel-card-favorite {
  background-color: #82b3d3;
}

.hotel-card-favorite.active {
  background-color: #7db54f;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: lowercase;

  background-color: transparent;
}

.subscribe-inner {
  color: #333333;

  background: transparent;
}

.subscribe-inner .subscribe-title {
  color: #000000;
}
